/*-----First Rules-----*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*-----Article-----*/
article {
    width: 50%;
    min-height: 933px;
    padding: 5%;
    border: 10px solid blue;
}

/*-----Text-----*/
a,
h1,
p {
    font-family: Serif;
    margin-bottom: 20px;
}

h1 {
    font-size: 26px;
    color: blue;
    text-decoration: underline;
}

p {
    font-family: Sans-serif;
    font-size: 20px;
}

/*-----Link-----*/
span-positioned {
    color: red;
    border-radius: 5%;
    border: 2px solid red;
}

link-share {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

a {
    font-size: 16px;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 1%;
    text-decoration: none;
}

a:link,
a:visited {
    color: black;
}

a:hover {
    color: blue;
}

/*-----Media Breakpoint-----*/
TODO